
 
 body{
    padding-top:54px;color:#868e96}
    @media (min-width:992px)
    {body{padding-top:0;padding-left:17rem}}

.social-icons a{display:inline-block;height:3.5rem;width:3.5rem;
                background-color:#4796e6;color:#fff;border-radius:100%;
                text-align:center;font-size:1.5rem;line-height:3.5rem;margin-right:1rem}
                    
@media (min-width:992px)
    {#sideNav{text-align:center;position:fixed;top:0;left:0 ;
        display:flex; flex-direction:column; width:17rem;height:100vh} 

.social-icons a:hover{background-color:#f1f1f1}

.img-profile{
    border: .5rem solid rgba(255,255,255,.2)}
#sideNav .navbar-collapse{
    display:flex; align-items:flex-start; width:100%;margin-bottom:auto}
                                
#sideNav .navbar-collapse .navbar-nav{
    flex-direction:column;width:100%}
                                    
                                
